<%-include('../partials/header')%>

<div class="row justify-content-center">
    <div class="text-center my-5 col-12">
        
        <h3>Become our Gold Member and Let Us Pitch for you and Prioritize your Joining..      <a href="#">JOIN NOW</a></h3>    
    </div>
</div>

<% openings.forEach(function(opening){%>
<div class="row justify-content-center my-5">
    <div class="col-6"><img class="jobs-images" src="<%=opening.image%>" alt="image" ></div>
    <div class="col-6"><h4><%=opening.name%></h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, exercitationem!</p>
    </div>
</div>
<% })%>


<%-include('../partials/footer')%>