<%-include('partials/header')%>

<div class="row justify-content-center">
    <div class="text-center my-5 col-9">
        <h1 class="display-2" id="home">Hiring was never so Easy</h1>
        <br>
        <br>
        <h3 class="display-4" id="home2">Lets Hunt and Convert them Together.</h3>
    </div>
</div>

<%-include('partials/footer')%>
