
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cad170d8f3.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/cad170d8f3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
        <!-- <script type="text/javascript" src="assets/js/lib/jquery-2.1.4.min.js"></script> -->
        

<!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
<script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>

<!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>


      

        <style>
          h1, a, button{
            font-family: 'Black Ops One', cursive;
          }
          h1 {
            text-shadow: 4px 4px rgba(3, 3, 88, 0.288);
          }
          #form2{
            display: none;
          }
          #form3{
            display: none;
          }
          input{
            width: 100%;
          }
          body{
            background-color: rgb(255, 255, 255);
          }
          label{
            font-size: 17px;
            color:  rgba(0, 0, 15, 0.747);
            font-weight: bold;
            font-family: 'Cormorant Garamond', serif;
            line-height: 0.5;
          }
          select{
            padding: 0px;
          }
          .blue{
            font-size: 20px;
            color:  rgba(3, 3, 88, 0.555);
            font-weight: bold;
            font-family: 'Cormorant Garamond', serif;

          }
          
          #form1, #form2, #form3{
            background-color: rgb(255, 255, 255);
            border: rgba(255, 255, 255, 0.616) solid 2px;
            border-radius: 10px;
            border: none;
          padding: 10px;
          /* box-shadow: 5px 10px 20px rgb(255, 255, 255) inset; */
          }
          #form1 div{
            height: 18%;
          }
          
          #form1 input, #form2 input, #form2 select, #form3 input, #form3 select{
            height: 35px;
            border: none;
            /* border-radius: 10px;
            border: solid rgb(202, 202, 202) 2px; */
            border-top-style: groove;
            border-right-style: groove;
            border-left-style: groove;
            border-bottom-style: groove;
            background-color: rgb(255, 255, 255);
          }
          *:focus{
            /* outline-color:rgba(3, 3, 88, 0.555) ; */
            outline: none;
          }
          .pointer {
        cursor: pointer;
      }
      .btn-primary{
        opacity: 0.9;
        color: black;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Cormorant Garamond', serif;
      }
      .btn-info{
        opacity: 0.8;
        color: black;
        font-size: 15px;
        font-family: 'Cormorant Garamond', serif;
      }
         
      *{
        transition: all .5s;
      }
          
        </style>
</head>

<body>
    <div class="row justify-content-center">
        <div class="col-10 col-sm-7 col-md-5 col-xl-4 text-center">
            <h1 class="mt-4"> Sign-up</h1>
    
                <form action="/register" method="POST" class="my-5">
                  <div id="form1" class="p-4">
                    <label class="blue">Contact</label>
                      <div class="form-group my-3 text-left">
                          <label for="name" class="m-0">Username</label>
                          <input type="text" id="name" placeholder="John Wick" name="username" required>
                      </div>
                        <div class="form-group my-3 text-left">
                          <label for="number" class="m-0">Number</label>
                            <input type="text" id="number" placeholder="91XXXXXXXX" name="number" >
                        </div>
                      <div class="form-group my-3 text-left">
                        <label for="email" class="m-0">Email</label>
                        <input type="text" id="email" placeholder="john@example.com" name="email" >
                    </div>
                      <div class="form-group my-3 text-left">
                        <label for="password" class="m-0">Password</label>
                          <input type="password" id="psw" placeholder="must be of atleast 6 characters" name="password" required>
                      </div>
                      <a id="form1next" class="btn btn-primary">next </a>
                  </div>
                  <!-- __________________________________ -->
                    <div id="form2" class="p-4">
                      <label for="education" class="blue">Education qualification</label>
                    <div class="form-group" id="education">
                            
                            <div class="form-group text-left ">
                              <label for="Institution" class="m-0">Institution</label>
                                <input type="text" id="Institution" placeholder="Institution name" name="Institution" >
                            </div>
                            <div class="form-group text-left">
                                <label for="year" class="my-1">Year</label>
                                <div class="form-row justify-content-between mt-2" id="year">
                                    <div class="form-group col-6 col-md-6 p-0 m-0">
                                        
                                        <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                                          <div class="bootstrap-iso p-0 m-0">
                                            <div class="container-fluid p-0 m-0">
                                            <div class="row p-0 m-0">
                                              <div >
                                                <div class="form-group p-0 m-0 ">
                                                <label class="control-label col-sm-2 requiredField" for="date1">
                                                  From
                                                </label>
                                                <div class="p-0 m-0">
                                                  <div class="input-group p-0 m-0">
                                                  <div class="input-group-addon p-2 m-0">
                                                    <i class="fa fa-calendar">
                                                    </i>
                                                  </div>
                                                  <input class="form-control p-0 m-0" id="date1" name="date1" placeholder="MM/DD/YYYY" type="text"/>
                                                  </div>
                                                </div>
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                          </div>
                                      </div>
                                    <div class="form-group col-6 col-md-6 p-0 m-0">
                                      <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                                        <div class="bootstrap-iso p-0 m-0">
                                          <div class="container-fluid p-0 m-0">
                                          <div class="row p-0 m-0">
                                            <div >
                                              <div class="form-group p-0 m-0">
                                              <label class="control-label col-sm-2 requiredField" for="date2">
                                                To
                                              </label>
                                              <div class=" p-0 m-0">
                                                <div class="input-group p-0 m-0">
                                                <div class="input-group-addon p-2 m-0">
                                                  <i class="fa fa-calendar">
                                                  </i>
                                                </div>
                                                <input class="form-control p-0 m-0" id="date2" name="date2" placeholder="MM/DD/YYYY" type="text"/>
                                                </div>
                                              </div>
                                              </div>
                                            </div>
                                          </div>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group mb-4 text-left">
                              <label for="degree" class="m-0">Degree</label>
                            <select class="form-control p-0" id="degree" name="degree"  >
                              <option>Btech</option>
                              <option>BA</option>
                              <option>BSc</option>
                              <option>Bcom</option>
                              <option>BCA</option>
                              <option>BFA</option>
                              <option>LLB</option>
                              <option>BE</option>
                              <option>BEd</option>
                            </select>
                            </div>
                            <div class="row form-group text-left mt-2">
                              <div class="col-3 pr-0 py-2 text-left" id="add"><label onclick="add()" class="pointer" for="plus">Add more </label>
                              </div>
                              <div class="col-9 pl-0 text-left"><input type="text" id="plus" placeholder="..." name="more">
                              </div>
                            </div>
                            </div>
                          
                          <div class="form-group text-left">
                            <label for="experience">Experience</label>
                            <input type="text" class="form-control p-0"  id="experience"  name="experience" >
                            <!-- <select class="form-control p-0"  id="experience"  name="experience" >
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select> -->
                        </div>

                          <a id="form1prev" class="btn btn-info">prev</a>
                          <a id="form2next" class="btn btn-primary">next </a>
                    </div>
                    <!-- _____________________________________________ -->
                    <div id="form3" class="p-4">
                      <div class="form-group text-left my-3">
                        <label for="skills">Skills</label>
                            <input type="text" id="skills" placeholder="skills" name="skills" >
                        </div>
                        <div class="form-group text-left my-3">
                          <label for="job-profile">Job-profile</label>
                              <input type="text" id="job-profile" placeholder="job-profile" name="profile" >
                          </div>
                          <div class="form-group text-left my-3">
                            <label for="Expertise">Area of Expertise</label>
                            <input type="text" id="Expertise" placeholder="" name="Expertise" >
                        </div>
                        <div class="form-group text-left my-3">
                          <label for="location">Location</label>
                              <input type="text" id="location" placeholder="location" name="location" >
                          </div>
                          <div class="form-group text-left my-3">
                            <label for="language">Language</label>
                            <input type="text" id="language" placeholder="language known" name="language" >
                        </div>
                        <a id="form2prev" class="btn btn-info"> prev</a>
                        <button type="submit" class="btn btn-success">sign up</button>
                    </div>
                  </form>
          </div>
        </div>
    </div>




    



        <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


<script>
	$(document).ready(function(){
		var date_input=$('input[name="date1"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
  })
  $(document).ready(function(){
		var date_input=$('input[name="date2"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
  })
  

   const form1=document.querySelector('#form1');
   const form2=document.querySelector('#form2');
   const form3=document.querySelector('#form3');
  //  $(".fa-plus").click(function(){
	//     $("#plus").fadeToggle();
  //   });
  var x = document.getElementById("plus");
  x.style.display = "none";
  function add() {
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
   function display()
   {
      form1.style.display="none";
      form2.style.display="none";
      form3.style.display="none";
   }
   document.querySelector('#form1next').addEventListener('click',function(){
      display();
      form2.style.display="block";
   })
   document.querySelector('#form2next').addEventListener('click',function(){
      display();
      form3.style.display="block";
   })
   document.querySelector('#form1prev').addEventListener('click',function(){
      display();
      form1.style.display="block";
   })
   document.querySelector('#form2prev').addEventListener('click',function(){
      display();
      form2.style.display="block";
   })
 </script>   

</body>
</html>

   