/** code by webdevtrick ( https://webdevtrick.com ) **/
body{
	/* background-color: rgb(112, 111, 111); */
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-image: url("https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_960_720.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
	background-size: cover; 
	/* background-repeat: no-repeat; */
	/* width: 100%;
	height:100%; */
	background-attachment: fixed;
	background-position: center;
	
/* position: absolute;
overflow: auto; */
}
.bowlby{
	font-family: 'Bowlby One SC', cursive;
}
.sriracha{
	font-family: 'Sriracha', cursive;
}
.yellow{
	color: yellow;
}
.yellow a{
	text-decoration: underline;
	color: yellow;
}
hr{
	width: 100%;
	margin:0;
	margin-top: 10px;
}
.no-outline:focus {
	outline: none;
  }
.main {
	max-height: 350px;;
	background-color: #292c2f;
	color: white;
	font-size: 28pt;
	text-align: center;
	line-height: 350px;
}
footer{
	/* position: fixed; */
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 12px sans-serif;

	padding: 10px 50px;
	margin-top: 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
	margin: auto;
}




.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.5;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-right{
	width: 20%;
}


.footer-distributed .footer-icons a{
	/* display: inline-block; */
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.main {
		line-height: normal;
		font-size: auto;
	}

}
/* _____________________________________	JOBS______________________________________________ */
.jobs-images{
	width:100%;
	height: 285px;
	opacity: 1;

}
.jobcont{
	background-color: rgba(231, 229, 229, 0.938);
	color: black;
}

.jobcont a{
	color: black;
}
.jobcont a:hover{
	text-decoration: none;
}
/* ________________________________________________________________________________________________________ */
textarea{
	height: 300px;
}
textarea.form-control{
	height: 500px;
}
/* _________________________________	SHOWPAGE___________________________________________________ */
.showpage{
	background-color:rgba(231, 229, 229, 0.938) ;
}
.showdiv{
	border: solid 30px rgb(185, 183, 183);
	background-color: white;
	color: black;
	padding: 100px;
	font-weight: 400;
}
.showdiv p{
	font-size: 20px;
	line-height: 2rem;
	font-weight: 400;

}
.showdiv a{
	color: black;
}
.logsi{
	margin: 20px;
	border: solid rgb(2, 161, 2) 1px;
	
}
.logsi a{
	color: rgb(2, 161, 2);
}
.flex-row-reverse i{
	margin: 20px;
	font-size: 20px;
	
}
#search1{
	display: block;
	
}
#search1 a{
	color: white;
}
#search2{
	display: none;
	
}
#search2 a{
	color: white;
}
#search2 input{
	border: none;
	border-bottom: black solid 1px;
	background-color: rgba(231, 229, 229, 0);

}
/* ________________________________________background___________________________________________________ */
#bod{
background-color: rgba(7, 7, 70, 0.575);
}

#maindiv{
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	opacity: 1;
	
}
/* _____________________________________________NAV_______________________________________________ */
nav a{
	color: white;
	opacity: 1;
	font-size: 18px;
	transition: all 0.5s;
	font-weight: 400;
}
nav a :hover{
	color: grey;
}
.navbar-brand{
	letter-spacing: 0.5rem;
	margin: 0;
	font-size: 35px;
	color: rgba(159, 203, 245, 0.774);
	text-shadow: 3px 4px rgb(24, 5, 56);
	font-family: 'Roboto Slab', serif;
}
nav{
	padding: 0;
	width: 100%;
}
.nav-link{
	margin: auto;
}
.nav-item{
	margin: auto;
}
#navbarText ul{
	width: 100%;
}

/* ____________________________________________HOME______________________________________________________ */
#home{
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	color: white;
	opacity: 1;
	font-size: 60px;
	}
#home2{
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 50px;
}
.homesec2 h3{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: rgb(253, 94, 116);
}

.hiring{
	height: 800px;
}
.mySlides {
	/* display: none; */
	width: 80%;
	margin: auto;
}
.mySlides h2, .mySlides h6{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color:  rgb(248, 58, 83);
}
.mySlides div{
	font-family: 'Sriracha', cursive;
	font-size: 15px;
}
/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 1.5s ease;
	
	user-select: none;
  }
/* Position the "next button" to the right */
.next {
	right: 0;
	
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .texthome {
	/* color: #f2f2f2; */
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 1.5s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 600s;
	animation-name: fade;
	animation-duration: 600s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .9} 
	to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
  }

/* _________________________________________INTERNSHIP_________________________ */
/* _____________________________________	JOBS______________________________________________ */
.internship-images, .opening-images{
	width:100%;
	height: 265px;
	opacity: 1;

}
.internshipcont, .openingcont{
	background-color: rgba(255, 255, 255, 0.938);
	color: black;
}

.internshipcont a, .openingcont a{
	color: black;
}
.internshipcont a:hover{
	text-decoration: none;
}
.openingcont a:hover{
	text-decoration: none;
}
/* _____________________________________________________LOGIN_____________________________ */
#hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
#hover_bkgr_fricc #helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
#hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 400px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
#popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
#popupCloseButton:hover {
    background-color: #ccc;
}
#trigger_popup_fricc, #trigger_popup_fricc2, #trigger_popup_fricc3 {
    cursor: pointer;
    /* font-size: 20px;
    margin: 20px; */
    display: inline-block;
    
}
.formContainer {
        /* max-width: 300px;
        padding: 20px; */
        background-color: #fff;
      }
      .formContainer input[type=text],
      .formContainer input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
      }
      .formContainer input[type=text]:focus,
      .formContainer input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      .formContainer .btn {
        padding: 12px 20px;
        /* border: none;
        background-color: #8ebf42;
        color: #fff; */
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
      }
      .formContainer .cancel {
        background-color: #cc0000;
      }
      .formContainer .btn:hover,
      .openButton:hover {
        opacity: 1;
      }