<%-include('../partials/header')%>
<h3>New Internship</h3>
<form action="/internship" method="POST">
    <div class="form-group">
        <input class='form-control no-outline' type="text" name="internship[name]" placeholder="Internship">
    </div>
    <div class="form-group">
        <input class='form-control no-outline' type="text" name="internship[image]" placeholder="image url">
    </div>
    <div class="form-group">
        <textarea class='form-control no-outline' name="internship[description]" placeholder="internship description"></textarea>
       
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block">Submit</button>
    </div>
</form>


<%-include('../partials/footer')%>