<%-include('../partials/header')%>

<div class="row justify-content-center">
    <div class="text-center my-5 col-12">
        <h2 class="display-4">P2P hiring made easier</h2>
        <br>
        <p style="font-size: 30px;">Now supplement your regular income by the
            referral bonus your company pays you by
            posting the Internal Vacancies for Jobs or Internships here.<p>   
        <br>
        <h2>Find all the internal openings and get referred
            by employees of the company as 65% of the
            openings close through internal referrals.</h2> 
    </div>
</div>




<%-include('../partials/footer')%>




